.profile__container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 18px;
    align-items: baseline;
}

/*- 767px*/

@media screen and (max-width: 767px) {
    .profile__container {
        max-width: 189px;
    }
}
