@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');


/*---------------- page --------------------*/

.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', serif;
    text-rendering: optimizeLegibility;
}

.page__section {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

/*768px - 1023px*/

/*@media screen and (max-width: 1023px) {*/
/*    .page__section {*/
/*        padding-left: 50px;*/
/*        padding-right: 50px;*/
/*        box-sizing: border-box;*/
/*    }*/
/*}*/

/* - 767px*/

/*@media screen and (max-width: 767px) {*/
/*    .page__section {*/
/*        padding-left: 19px;*/
/*        padding-right: 19px;*/
/*    }*/
/*}*/


/*---------------- header --------------------*/

.header {
    min-height: 119px;
    padding-top: 45px;
    box-sizing: border-box;

}

.header::after {
    content: "";
    width: 100%;
    /*height: 1px;*/
    display: block;
    padding-top: 40px;
    border-bottom: 1px solid #545454;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .header {
        min-height: 56px;
        padding-top: 28px;
    }
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .header::after {
        padding-top: 31px;
    }
}

/*---------------- logo --------------------*/

.logo {
    display: block;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 1023px) {
    .logo {
        padding-left: 40px;
    }
}


@media screen and (max-width: 767px) {
    .logo {
        width: 103px;
        height: 24px;
        padding-left: 27px;
    }
}

/*---------------- avatar --------------------*/

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*---------------- button --------------------*/

.button {
    transition: opacity 0.7s ease;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}

/*---------------- profile --------------------*/

.profile {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    align-items: center;
    column-gap: 30px;
}

/*768px - 1023px*/

@media screen and (max-width: 1023px) {
    .profile {
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
    }
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .profile {
        padding: 42px 19px 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        justify-items: center;
    }
}

.profile__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .profile__info {
        padding: 26px 0 36px;
        max-width: 189px;
        row-gap: 14px;
    }
}

.profile__container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 18px;
    align-items: baseline;
}

/*- 767px*/

@media screen and (max-width: 767px) {
    .profile__container {
        max-width: 189px;
    }
}


.profile__title {
    margin: 0;

    max-width: 294px;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .profile__title {
        max-width: 189px;
        text-align: center;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }
}

.profile__subtitle {
    margin: 0;
    max-width: 294px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .profile__subtitle {
        max-width: 357px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background: url("../images/edit_button.svg") no-repeat center;
    background-size: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

/* - 767px */

@media screen and (max-width: 767px) {
    .profile__edit-button {
        /*top: 36px;*/
        /*right: -35px;*/
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background: url("../images/add_button.svg") no-repeat center;
    background-size: 22px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
}

/* - 767px */

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
    }
}

/*---------------- elements --------------------*/

.cards {
    padding: 50px 0 66px;
}

@media screen and (max-width: 767px) {
    .cards {
        padding: 36px 19px 48px;
    }
}

.cards__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-template-rows: repeat(auto-fill, 361px);
    justify-content: center;
    column-gap: 17px;
    row-gap: 20px;
    list-style-type: none;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    min-height: 282px;
    display: block;
}

.card__info {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 15px 0 21px;
    box-sizing: border-box;
}

.card__title {
    margin: 0;
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.card__btn-like {
    width: 22px;
    height: 19px;
    background-image: url("../images/btn-like_disabled.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-image 0.7s ease;
}

.card__btn-like_is_active {
    background-image: url("../images/btn-like_active.svg");
}

.card__btn-like:hover {
    background-image: url("../images/btn-like_hover.svg");
}

/*---------------- footer --------------------*/

.footer {
    min-height: 78px;
    align-self: end;
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .footer {
        min-height: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}

.footer__copyright {
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .footer__copyright {
        padding-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        padding-left: 19px;
    }
}

/*---------------- popup --------------------*/

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup_is-opened {
    display: flex;
}

.popup__content {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .popup__content {
        width: 282px;
        height: 322px;
    }
}

.popup__form {
    padding: 34px 36px 37px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', serif;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .popup__form {
        padding: 25px 22px;
    }
}

.popup__title {
    margin: 0 0 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .popup__title {
        margin-bottom: 75px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__input {
    border: 0;
    width: 100%;
    height: 27px;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: transparent;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__input:last-of-type{
    margin-bottom: 48px;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}

.popup__close-button {
    border: 0;
    box-sizing: border-box;
}

/*---------------- button --------------------*/

.popup__save-button {
    width: 358px;
    height: 50px;
    padding: 0;
    background-color: #000000;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
    }
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup__close-button {
    width: 32px;
    height: 32px;
    background: transparent
    url("../images/close_icon.svg")
    center no-repeat;
    background-size: 32px 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        top: -36px;
        right: 0;
    }
}
