@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');


/*---------------- page --------------------*/

.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', serif;
    text-rendering: optimizeLegibility;
}

.page__section {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

/*---------------- header --------------------*/

.header {
    height: 74px;
    padding-top: 45px;
    border-bottom: solid 1px #545454;
}

/*---------------- logo --------------------*/

.logo {
    width: 142px;
    height: 33px;
}

/*---------------- avatar --------------------*/

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*---------------- button --------------------*/

.button {
    transition: opacity 0.7s ease;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}

/*---------------- profile --------------------*/

.profile {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    align-items: center;
}

.profile__info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.profile__container {
    display: flex;
    column-gap: 18px;
    align-items: baseline;
}

.profile__title {
    margin: 0;
    /*align-self: end;*/
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

.profile__subtitle {
    margin: 0;
    align-self: start;
}

.profile__avatar {

}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background: url("../images/edit_button.svg") no-repeat center;
    background-size: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    /*align-self: end;*/
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background: url("../images/add_button.svg") no-repeat center;
    background-size: 22px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
}

/*---------------- elements --------------------*/

.cards {
    padding: 50px 0 66px;
}

.cards__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    column-gap: 17px;
    row-gap: 20px;
    list-style-type: none;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;

    /*box-sizing: border-box;*/
}

.card__image {
    min-height: 282px;
    display: block;
}

.card__info {
    /*min-height: 79px;*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 15px 0 21px;
    box-sizing: border-box;
}

.card__title {
    margin: 0;
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.card__btn-like {
    width: 22px;
    height: 19px;
    background-image: url("../images/btn-like_disabled.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-image 0.7s ease;
}

.card__btn-like_is_active {
    background-image: url("../images/btn-like_active.svg");
}

.card__btn-like:hover {
    background-image: url("../images/btn-like_hover.svg");
}

/*---------------- footer --------------------*/

.footer {
    min-height: 78px;
    align-self: end;
}

.footer__copyright {
    margin: 0;
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/*---------------- popup --------------------*/

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup_is-opened {
    display: flex;
}

.popup__content {
    max-width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

.popup__form {
    padding: 34px 36px 37px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', serif;
}

.popup__title {
    margin: 0 0 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.popup__input {
    border: 0;
    width: 100%;
    height: 27px;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: transparent;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__input:last-of-type{
    margin-bottom: 48px;
}

.popup__close-button {
    border: 0;
    box-sizing: border-box;
}

/*---------------- button --------------------*/

.popup__save-button {
    padding: 12px 124px 16px 125px;
    background-color: #000000;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    display: inline;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup__close-button {
    width: 32px;
    height: 32px;
    background: transparent
    url("../images/close_icon.svg")
    center no-repeat;
    background-size: 32px 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
